{% extends "base.html" %}
{% block content %}
<div class="container">
  <form class="form-group" name = "file" method="POST" enctype="multipart/form-data">
     {{ form.hidden_tag() }}

     <div class="form-group">
     {{ form.title.label(class="form-control-label") }}
     {{ form.title(class="form-control form-control-lg ") }}
     </div>
     <div class="form-group">
     {{ form.text.label(class="form-control-label") }}
     {{ form.text(class="form-control form-control-lg") }}
     </div>

    <div class="form-group">
     <input type=file name="image">
    </div>

     <div class="form-group">
         {{ form.submit(class="btn btn-outline-info") }}
     </div>
  </form>

</div>

{% endblock content %}
