{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
  <h1>Title: {{ post.title }}</h1>
  <h2>Created by : {{post.author.username}}</h2>
  <h3>Created on: {{ post.date.strftime('%B %d, %Y') }}</h3>
  <h4>text: <p>{{post.text}}</p></h4>
  <div>
 <img align='center' src="{{ url_for('static', filename=post.event_image) }}">
  </div>
  {%if not current_user.is_anonymous%}
  {%if current_user.has_liked_post(post) %}
    <a href="{{ url_for('event_posts.like_action', post_id=post.id, action='unlike') }}">Unlike</a>



  {% else %}
    <a href="{{ url_for('event_posts.like_action', post_id=post.id, action='like') }}">Like</a>

  {% endif %}
  {% endif %}



  {{ post.likes.count() }} likes
  {{post.author.username}}

<br>
<hr>
<div>
  <p><b>Comments :</b></p>
  {%for comment in event_comment%}
  <p><b>{{comment.comment_author.username}}:</b>
  {{comment.body}}</p>
  {%endfor%}
  <br>
</div>
   {% if post.author == current_user %}
     <div>
       <a class="btn btn-secondary" href="{{ url_for('event_posts.update', event_post_id=post.id) }}">Update</a>
       <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#del_modal">Delete</button>
     </div>
   {% endif %}
</div>




  <!-- Modal for Pop Up-->
  <div class="modal" tabindex="-1" role="dialog" id="del_modal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Delete Post Pop up Modal</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to delete this event?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>

          <form action="{{ url_for('event_posts.delete_post', event_post_id=post.id) }}" method="POST">
            <input class="btn btn-danger" type="submit" value="Delete">
          </form>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}
