{% extends "base.html" %}
{% block content %}
  <div class="jumbotron">
    <h1>The Event</h1>
    <p>Welcome to Our Company's Page</p>
  </div>

  <div class="container">

    {# Go through each event post #}
    {% for post in event_posts.items %}

    <div class="card" >

      <div class="card-body">


        <h2><a class="card-title" href="  {{ url_for('event_posts.event_post', event_post_id=post.id) }}">{{ post.title }}</a></h2>
        <a href="{{ url_for('users.user_posts', username=post.author.username) }}">Written By: {{ post.author.username }}</a>
        <p>Created on: {{ post.date.strftime('%Y-%m-%d') }}</p>
        <p class="card-text">{{ post.text[:100] }}...</p>
        <a href="{{ url_for('event_posts.event_post', event_post_id=post.id) }}" class="btn btn-primary">Read Event</a>
        {%if not current_user.is_anonymous%}
        <a href="{{ url_for('event_posts.comment_post', post_id=post.id) }}" class="btn btn-primary">comment</a>
        {%if current_user.has_liked_post(post) %}

        <a href="{{ url_for('event_posts.like_action', post_id=post.id, action='unlike') }}">Unlike</a>
        {% else %}
        <a href="{{ url_for('event_posts.like_action', post_id=post.id, action='like') }}">Like</a>
        {% endif %}
        {% endif %}
      </div>
    </div>

   {% endfor %}

   <nav aria-label="Page navigation example">
     <ul class="pagination justify-content-center">
       {% for page_num in event_posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
          {% if event_posts.page == page_num %}
          <li class="page-item disabled">
            <a class="page-link" href="{{ url_for('core.index', page=page_num) }}">{{ page_num }}</a></li>
          </li>
          {% else %}
            <li class="page-item"><a class="page-link" href="{{ url_for('core.index', page=page_num) }}">{{ page_num }}</a></li>
          {% endif %}
      {% endfor %}
    </nav>




{% endblock %}
