{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
  <h1>Info about our Company</h1>
  <p>The Event is a platform that lets you discover the best in events. We strive to curate experiences that are worth your time and money, possibly something you have never tried before..</p>
</div>

{% endblock %}
