{% extends "base.html" %}
{% block content %}
<div class="container">
  <div class="jumbotron">
    <div align='center'>
      <h1 >Welcome to the page for {{user.username}}</h1>
      <!-- <img align='center' src="{{ url_for('static', filename='profile_pics/' + user.profile_image) }}"> -->

      <div>

<button class='btn' onclick="download()">download </button>

<a style = "display:none;" href="{{ url_for('core.download_start') }}"><button class='btn btn-success' id='hidden-download'>download_start</button></a>




  </div>
  <img align='center' src="{{ url_for('static', filename=user.profile_image) }}">
  </div>
  </div>


{% for post in event_posts.items %}

          <h2><a href="{{ url_for('event_posts.event_post', event_post_id=post.id) }}">{{ post.title }}</a></h2>
          Written by: <a href="{{ url_for('users.user_posts', username=post.author.username) }}">{{ post.author.username }}</a>
          <p class="text-muted">Created on: {{ post.date.strftime('%Y-%m-%d') }}</p>
          <br>
            <p>{{post.text}}</p>
          <br>

{% endfor %}


</div>

<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    {# http://flask.pocoo.org/snippets/44/ #}

    {% for page_num in event_posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
            {% if event_posts.page == page_num %}
              <li class="page-item disabled">
                <a class="page-link" href="{{ url_for('users.user_posts', username=user.username, page=page_num) }}">{{ page_num }}</a></li>
              </li>
            {% else %}
              <li class="page-item"><a class="page-link" href="{{ url_for('users.user_posts', username=user.username, page=page_num) }}">{{ page_num }}</a></li>
            {% endif %}
    {% endfor %}
</nav>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>

<script type="text/javascript">

function download() {
  $.ajax({
    'url': "{{ url_for('core.download_content') }}",
    'type': "GET",
    'success': function (data, status, request) {
      status = request.getResponseHeader('Location');
      status_check(status)
    }
  });
}


function status_check(task_status) {
  $.ajax({
    'url': task_status,
    'type': "GET",
    'success': function (data) {
      if ((data['state'] == 'PENDING') || (data['state'] =='PROGRESS')) {
        setTimeout(function () {
          status_check(task_status);
        }, 2000);
      } else {
        document.getElementById('hidden-download').click();
      };
    }
  });
}

</script>

{% endblock content %}
